<h1>Incostagram</h1>

<p>こんにちは！ <%= @user.name %>さん</p>

<p>
ようこそIncostagramへ! 下記のリンクをクリックしてユーザー登録を完了しましょう!
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>