<% provide(:title, "About") %>
<div class="container about-content">
  <div id="about-text">
    <h1>What is "Incostagram"?</h1>
    <p>
      インコスタグラムとはインコの画像専門のSNSサービスです。
      様々なインコ画像をユーザー間で共有し、幸せなライフを実現いたします。
    </p>
  </div>
  <%= image_tag '2.JPG', class: "about-img", alt: "the Phoho of a lovebird"%>
</div>