<div class="center jumbotron" id="incostagram-top">
  <div class="container">
    <h1>Welcome to Incostagram!</h1>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>

