<% provide(:title, 'パスワード変更') %>
<% provide(:button_text, 'Save changes') %>
<div class="container">
  <h1>Update your password</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'change_password' %>
    </div>
  </div>
</div>