@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  margin-right: 10px;
  font-size: 1.7em;
  float: left;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: cursive;
  &:hover {
  color: black;
  text-decoration: none;
}
}

.navbar-inverse{
  background-color: white;  
}

.nav-list a {
  &:hover {
    color: #222;
  }
}

li.search-li {
  height: 28px;
  min-width: 125px;
  width: 215px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-search {
  margin-bottom: 0;
}

.search-form {
  padding: 3px, 10px, 3px, 26px;
  width: 50%;
  margin: 0;
}

a.header-list {
  color: black;
}

ul.navbar-nav > li > a {
  color: black;
}

.navbar {
  margin-bottom: 0;
  min-height: 0;
  height: auto;
}

.navbar-toggler {
    display: none;
    font-size: 25px;
    margin: 5px 5px 0 auto;
  }
  
.nav-item-narrow {
  display: none !important;
  a {
    text-align: center;
  }
}

.form-inline-narrow {
  display: flex;
  max-width: 300px;
  justify-content: center;
  margin: 0 auto;
}
  
/* header responsive */

@media all and (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }
  .nav-item {
    display: none !important;
  }
  .nav-item-narrow {
    display: block !important;
  }
  .form-inline {
    display: none;
  }
  .dropdown-toggle {
    display: flex !important;
    justify-content: center;
  }
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
  color: #555;
  &:hover {
  color: #222;
 }
}
  small {
  float: left;
}
  ul {
  float: right;
  list-style: none;
  li {
  float: left;
  margin-left: 15px;
  }
 }
}

/* top */

#incostagram-top {
  background-image: url("1.jpg");
  padding: 200px 0 100px;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
}

/* about */

.about-content {
  display: flex;
}

#about-text {
  padding: 80px;
  h1 {
    margin-bottom: 50px;
  }
}

.about-img {
  width: 40%;
  height: 50%;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin: 15px;
  display: table;
  a {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  img {
    height: 100%;
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

#comments_area {
  max-width: 500px;
  margin: 0 auto;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.show-micropost {
  display: flex;
  justify-content: center; 
}
/* like */

.like {
  margin-left: 60px;
}
.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

/* notifications */

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

/* user-show */

.showpage-microposts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  li {
    flex-basis: 30%;
    border: none;
  }
}

.showpage-image {
  width: 100%;
}

/* edit */

.edit-account {
  
}

.edit-password-btn {
  display: block;
  text-align: center;
}

.delete-btn {
  color: red;
  display: block;
  text-align: center;
}

/* input */
.input-mysize {
  height: 100px !important;
}

/* policy */
.policy-right {
  text-align: right;
}