    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Incostagram", '/', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-list"><%= link_to "Home",  '/' %></li>
            <li class="nav-list"><%= link_to "About us",  about_path %></li>
            <li class="nav-list"><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>